
{% load static %}
<div class="relative bg-cover bg-center bg-no-repeat"  style="background-image: url('{% static 'images/heroimg.jpg' %}');">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>

        <div  class="relative z-10 py-28 flex flex-col items-center justify-center h-full text-center text-white">
            <h3 class="text-sm font-bold tracking-[0.2em] uppercase mb-4">Photo Gallery</h3>
            <h1 class="text-5xl font-bold mb-6">EVENTYFLY <span class="text-orange-500">GALLERY</span></h1>
            <div class="flex items-center space-x-2 text-sm font-medium">
                <a href="#" class="hover:text-orange-500">Home</a>
                <span>|</span>
                <span>EVENTYFLY Gallery</span>
            </div>
        </div>
</div>

