{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>

   <div class="min-h-[100vh]">
     {% include 'components/header.html' %}

    {% include 'components/hero.html' %}
    {% include 'components/search.html' %}

    <br>

    {% include 'components/eventlist.html' with events=events %}
   </div>


    {% include 'footer.html' %}




</body>
</html>