{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
{% include 'components/header.html' %}
<body class="min-h-screen">

    <!-- Admin: Full access to all features. Only the admin can change roles, create groups, delete groups, and delete participants. -->
<div class="min-h-screen">

    <div class="flex justify-center gap-4">
        <a href="{% url 'admin_dashboard' 'groups' %}">
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">All Group</button>
        </a>
        <a href="{% url 'admin_dashboard' 'users' %}">
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">All User</button>
        </a>
        <a href="{% url 'admin_dashboard' 'participant' %}">
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">All Participant</button>
        </a>
        <a href="{% url 'organizer_dashboard' %}">
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Organizer Dashboard</button>
        </a>
    </div>

    {% if messages %}
    <ul class="messages mt-2 text-center p-2 bg-gray-100 rounded-lg w-1/2 mx-auto">
        {% for message in messages %}
            <li{% if message.tags %} class="{% if message.tags == 'error' %} text-red-500 {% else %} text-green-500 {% endif %}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <!-- if path == dashboard/admi then show  -->
     {% if path == 'users' %}
    {% include 'dashboard/user_list.html' %}
     {% endif %}
     {% if path == 'groups' %}
    {% include 'dashboard/group-list.html' %}
     {% endif %}
     {% if path == 'participant' %}
    <div class="w-1/2 mx-auto mt-4">
        {% include 'components/participantlist.html' with participants=participants %}
    </div>
     {% endif %}
    
</div>
</body>
{% include 'footer.html' %}
</html>